.login-wrapper {
    margin: 15px auto;
    border: 1px dashed grey;
    height: 300px;
    width: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-header {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 25px;
}

.error-message {
    font-size: 12px;
    text-align: center;
    color: red;
}