.login-wrapper {
    margin: 15px auto;
}

.error-message {
    font-size: 12px;
    text-align: center;
    color: red;
}

.md-title.parking-header {
    text-align: end;
    margin-right: 5px;
}

.warning {
    background-color: #FFECB3;
}

.alarm {
    background-color: #FFAB91;
}

#login-header {
    text-align: center;
}

#login-button {
    margin: 0;
    width: 100%;
}

.md-card {
    min-width: 100%;
}

.md-content {
    padding: 15px;
    max-height: 50%;
    min-height: 50%;
}