<!DOCTYPE HTML>
<html>
<html>
<head>
    <title>Armeyskiy 8B</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="resources/css/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="resources/css/login/login.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

    <p>Ooops, something went wrong. Please, try to <a href="/login">login</a></p>
</body>
</html>